.bx--graph-header {
	font-weight: 300;
	font-size: 24px;
}

.bx--line {
	stroke-width: 2;
	stroke: #00a68f;
	fill: none;
	pointer-events: none;
}

.bx--axis path {
	stroke: #5A6872;
}

.tick line {
	stroke: #5A6872;
}

.tick text {
	fill: #5A6872;
}

.bx--graph-container {
	position: relative;
}

.bx--tooltip {
	pointer-events: none;
}

.bx--axis--y path {
	display: none;
}

.bx--graph-label {
	font-size: 10px;
	font-weight: 700;
	fill: #5A6872;
	text-anchor: middle;
}
