$css--font-face: true;

@import '~carbon-components/scss/globals/scss/styles.scss';
@import '../index';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
